# Virtualenv
venv 
env
env*

.Python
include
lib

# Pythong packages
*.egg
*.egg-info
bin
build
dist
sdist
eggs
env
parts
var
develop-eggs
.installed.cfg

# Pip Install Log
pip-log.txt

# Unit test / coverage
.coverage
.tox

# Mac OS X
.DS_Store

# Generate files
*.[oa]
*.py[co]
.rbc

# Misc
_mailinglist
.cache/
.idea/
